*.iml
.gradle
src/local.properties
src/.idea/caches
src/.idea/libraries
src/.idea/modules.xml
src/.idea/workspace.xml
src/.idea/navEditor.xml
src/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.DS_Store
*.aab
src/app/release