*.iml

/src/.gradle/

/src/local.properties

/src/.idea/caches/
/src/.idea/libraries/
/src/.idea/modules.xml
/src/.idea/workspace.xml
/src/.idea/navEditor.xml
/src/.idea/assetWizardSettings.xml

.DS_Store

/src/build/
/src/captures/

.externalNativeBuild
.cxx

local.properties

*.aab

/src/app/release/